/* src/styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 20px;
}
.authentication {
  width: 100%;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  button {
    width: 100px;
    height: 45px;
    background-color: rgb(76, 76, 219);
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
  }
}

.navigation {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0px 0p 3px 0px #ccc;
    border: none;
    padding: 0 10px;
    outline: none;
  }
}

.container {
  display: flex;
}
.MusicContainer {
  width: 100%;
}
.MusicContainer .musicgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 285px);
  gap: 10px;
}
.musicgrid .musicCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  h2 {
    font-size: 18px;
  }
}

.playlist {
  width: 100%;
}

.playlist .playlistgrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  gap: 10px;
}

.playlistCard {
  width: 250px;
}

div > .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  height: 80px;
}
